@import "tailwindcss";

@theme {
  --color-primary-charcoal: #364156;
  --color-primary-blue: #212d40;
  --color-primary-orange: #d66853;
  --color-primary-sienna: #b56a5a;
  --color-primary-black: #11151c;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nanum Gothic", serif;
  color: white;
  background-color: var(--color-primary-charcoal);
}

.apexcharts-tooltip {
  background: #f3f3f3;
  color: #212d40;
}
